<header>
    <nav>
        <a href="/">CRUD Pagination</a>
        <ul>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/categories/new">Add Category</a></li>
        </ul>
    </nav>
</header>