<header>
    <nav class="header-nav">
        <a class="header-title" href="/">CRUD Pagination</a>
        <ul>
            <li class="header-link"><a href="/categories">Categories</a></li>
            <li class="header-link"><a href="/categories/new">Add Category</a></li>
            <li class="header-link"><a href="/products">Products</a></li>
            <li class="header-link"><a href="/products/new">Add Products</a></li>
        </ul>
    </nav>
</header>