<h1>All Products list</h1>
<br>
<div>
    <% products.forEach(product => { %>
        <div><a href="/products/<%= product._id %>"><%= product.name %></a></div>  
        <div><%= product.category.name %></div> 
    <% }) %> 
</div>