<h1>All Categories</h1>
<br>

<div>
    <% categories.forEach(category => { %>
        <div><%= category.name %></div>
        <a href="/categories/<%= category._id %>">View</a> 
        <a href="/categories/<%= category._id %>/edit">Edit</a> 
        <%- include('../partials/deleteForm', { url: `/categories/${category._id}` }) %> 
    <% }) %> 
</div>