<h2 class="page-header">Edit Product</h2>
<form action="/Products/<%= product._id %>?_method=PUT" method="post">
    <%- include('_form_fields') %> 
    <a href="/products">Cancel</a>
    <button type="submit">Update</button>
</form>