<h2 class="page-header">New Product</h2>
<form action="/Products" method="post">
    <%- include('_form_fields') %> 
    <a href="/products">Cancel</a>
    <button type="submit">Create</button>
</form>